- content_for :title do
  %title
    =@form.position + " " + @form.location

%input.input-with-form-id{type:"hidden", value: @form.id}

.row
  .col-lg-2.hidden-sm.hidden-xs
  .col-lg-8.col-sm-12.col-xs-12
    .answer-form-container
      .img-answer
      %h3.text-center
        Aplikuj na stanowisko:
        %span.title-answer-form
          =@form.position
      .information-about-position
        %span Lokalizacja / Location:
        =@form.location
        %br
        %span Firma / Company:
        =@form.company
        %br
        %span Opis / Description:
        =@form.description
      .answer-basic-information.text-center
        %h4 Dane Podstawowe
        %div
          %span Imie*
          %br
          %input.input-answer.input-firstname{type: "text"}
        %div
          %span Nazwisko*
          %br
          %input.input-answer.input-secondname{type: "text"}
        %div
          %span Miasto*
          %br
          %input.input-answer.input-city{type: "text"}
        %div
          %span Email*
          %br
          %input.input-answer.input-email{type: "email"}
        %div
          %span Numer Telefonu*
          %br
          %input.input-answer.input-phonenumber{type: "text"}

      - @questions.each do |question|
        .answer-questions-panel.list-of-questions{data: {id: question.id}, class: "question-nr" + question.id.to_s}
          %h4
            = question.content
            - if question.necessary
              *

          - if question.is_closed
            %input{type:"hidden", value: "closed", class: "question-is-closed-hidden" + question.id.to_s}
            - question.question_options.each do |option|
              %input.input-radio{ type: "radio", name: "option"+ question.id.to_s, class: "radio-input-for-" + question.id.to_s, data: {id: option.id}}
                = option.content
                &nbsp; &nbsp; &nbsp;
          - else
            %input{type:"hidden", value: "open", class: "question-is-closed-hidden" + question.id.to_s}
            %input.input-answer{type: "text", class: "answer-option-input-for-" + question.id.to_s,}

      .answer-cv.answer-questions-panel
        %h4 Dodaj CV
        %p Funkcja chwilo wyłączona ze względu na ograniczenia Heroku
        %p Wkrótce będzie zapewniona pełna funkcjonalność

      .answer-consern.answer-questions-panel
        %h4 Zgoda:
        %p
          = @form.consent
        %h5 Akceptuje Zgodę:
        %input.input-consent{type:"checkbox"}
        %h5 Wyrażenie zgody jest konieczne do wysłania aplikacji!
        %button.btn.btn-primary.btn-cv{disabled: "disabled"} Wyślij CV


- content_for :script do
  = javascript_include_tag 'answer'
