- content_for :title do
  = 'Home'

.row
  .col-lg-12.col-sm-12.col-xs-12.image-row
    .image-on-top
      .text-on-image
        %h1 Career Path
        %p Stwórz swój własny formularz rekrutacyjny
        %button.btn.btn-white Dowiedz się więcej
        %button.btn.btn-success Zaloguj
        %button.btn.btn-primary Zarejestruj

.row
  .col-lg-12.col-sm-12.col-xs-12.image-row
    .text-center
      .text-under-image
        %h3 Career Path to narzędzie do tworzenia spersonalizowanych formularzy rekrutacyjnych

.row.row-card
  .col-lg-3.col-sm-6.col-xs-12
    .card
      .card-text
        %h4 Funkcjonalność
        %i.fas.fa-pencil-alt.fa-2x
        %p Aplikacja dostarcza szereg profesjonalnych rozwiązań z zakresu prowadzenia rekrutacji. Dynamiczny rozwój strony, zapewni użytkownikowi najnowocześniejsze narzędzia.
      .card-link
        .card-link-text
          %h4 Dowiedz się więcej

  .col-lg-3.col-sm-6.col-xs-12
    .card
      .card-text
        %h4 Personalizacja
        %i.fas.fa-paint-roller.fa-2x
        %p Użytkownik ma możliwość tworzenia formularzy w sposób najbardziej odpowiedni dla rekrutacji. Sam wybiera na jakie pytania odpowie aplikant.
      .card-link
        .card-link-text
          %h4 Zobacz jak to działa


  .col-lg-3.col-sm-6.col-xs-12
    .card
      .card-text
        %h4 Zarządzanie
        %i.fas.fa-wrench.fa-2x
        %p Możliwość kolekcji, archiwizacji, podglądu nadesłanych zgłoszeń. Budowanie bazy CV, pomoże w utrzymaniu zatrudnienia na odpowiednim poziomie.
      .card-link
        .card-link-text
          %h4 Dołącz do nas


  .col-lg-3.col-sm-6.col-xs-12
    .card
      .card-text
        %h4 Kontakt
        %i.fas.fa-info.fa-2x
        %p Pozostajemy w stałym kontakcie z użytkownikami. Słuchamy rad, wdrażamy ich pomysły, reagujemy na skargi! Czy chcesz nam coś przekazać?
      .card-link
        .card-link-text
          %h4 Napisz do nas!

.row.image-row
  .col-lg-12.col-sm-12.col-xs-12.row-image
    .image-under-card

.row.blog
  .col-lg-12.col-sm-12.col-xs-12
    %h4 Ostatni wpis z bloga:

    %h3
      Wiele jest baz w Polsce, które pozwalają “zebrać” dane na Wasz temat...
      %br/
      %small 2018-08-26 21:22 źródło: www.niebiezpiecznik.pl
    %p
      To jest godne pochwały. Samo ujawnienie danych w infokiosku nie jest czymś niespotykanym. Po prostu programiści rozwiązujący problemy techniczne nie zawsze myślą o prywatności czy prawie ochrony danych, jednak taka szybka korekta problemu jest czymś rzadkim. I bardzo godnym pochwały, choć zakres “dodatkowo ujawnianych” danych nie był superkrytyczny (jak ktoś ma kod pocztowy, to prawdopodobnie i tak ma adres).
      %br
      %br
      Wiele jest baz w Polsce, które pozwalają “zebrać” dane na Wasza temat.nfokioski robią różne problemy od lat. W lutym tego roku ostrzegaliśmy przed “dowcipnymi” fakturomatami z Castoramy. Przerabialiśmy też temat hackowanie czytników w Leroy Merlin, kas samoobsługowych w Tesco oraz biletomatów we Wrocławiu (i nie tylko tam).
      %br
      %br
      Ale nie tylko infokioski można potraktować jako otwarte bazy (zbiory danych), z które można wykorzystać do powiększania informacji (danych osobowych) na temat kogoś. Dysponując jedynie szczątkowymi informacjami na temat jakieś osoby w Polsce można odpytać około 300 publicznie dostępnych źródeł wiedzy (serwisów, baz, usług, zbiorów danych), które uzupełnią posiadane przez nas dane nowymi informacjami na temat “ofiary”. A te nowe informacje znowu (rekurencyjnie) można wykorzystać do zapytań w te same miejsca, aby pozyskać kolejne dane.
      %br
      %br
      Po kilku godzinach takiego działania mamy już całkiem niezły obraz danej osoby, począwszy od jej danych osobowych, stanu majątku, informacji o rodzinie, adresach byłych i obecnych, wysokości wynagrodzenia, byłych pracodawców stanu majątkowego, samochodów, posiadanych nieruchomości jak i również niekiedy takich informacji jak wyników medycznych czy poglądów i opinii na temat różnych spraw. O części ze źródeł które w takim profilowaniu wykorzystujemy w ramach naszej pracy opowiadamy na wykładzie “Jak nie dać się zhackować” (niebawem będziemy w Warszawie, Krakowie, Gdańsku i Wrocławiu!) oraz w ramach szkolenia z Bezpieczeństwa Sieci Komputerowych, które zawiera moduły dotyczące tzw. rekonesansu (ang. OSINT), czyli białego wywiadu — zbierania informacji z publicznie dostępnych źródeł. Jeśli chcecie się pobawić w sieciowych detektywów i dowiedzieć się co zrobić aby zniknąć z pola widzenia stalkerów, to zapraszamy do udziału w naszych szkoleniach i prelekcjach :)
