.question-item-list
  .button-delete-on-list
    %span{class: "span-delete-from-list", data: { id: question.id} } x
  %h4
    = question.content
  %h5
    Pytanie Obowiązkowe:
    %span.span-in-h5-in-quesion-list
      = question.necessary ? "Tak" : "Nie"

  - if question.is_closed
    .question-option-list
      %br
      %h5 Dodaj odpowiedzi do pytania:
