.question-item-list
  .button-delete-on-list
    %span{class: "span-delete-from-list", data: { id: question.id} } x
  %h4
    = question.content
  %h5
    Pytanie Obowiązkowe:
    = question.necessary ? "Tak" : "Nie"
